.body {
  margin: 16px;
  font-family: sans-serif;
}
.header {
}
.title {
}
.title-text {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.title-span {
  color: blueviolet;
  text-decoration: underline;
}
.offers-item:nth-child(even) {
  color: red;
}
.offers-item:nth-child(odd) {
  color: violet;
}
